body {
    background-color:rgb(255, 255, 255);
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
}
p {
     text-indent: 50px;
    color: rgb(0, 0, 0);
    font-size: 25px;
     text-align: justify;
}
@font-face {
    font-family: 'swanky-and-moo-moo';
    src: url("swanky-and-moo-moo.otf") format("opentype"); 
}
.sogl {
    text-align: center;
    font-size: 35px;
}