body {
    background-image: url(NewCanvas1.png);
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgb(255, 236, 253);
}
@font-face {
    font-family: 'swanky-and-moo-moo';
    src: url("swanky-and-moo-moo.otf") format("opentype"); 
}
*::selection {
  background-color: rgb(248, 144, 144);
  color:rgb(255, 197, 197); 
}
.confetti
{
    position: relative;
    width: 1000px;
    z-index: -10;
}
.confettii {
    display: none;
    position: absolute;
}
.pistolet {
    position: relative;
    width: 1000px;
    height: 1000px;
    
}
.pist {
    padding-right: 400px;
    width: 700px;
    height: 700px;
    z-index: 1;
    position: absolute;
}
.main_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
}
h1 {
    margin-top:140px;
    margin-bottom: 100px;
    font-size: 70px;
    color: rgb(255, 103, 103);
}
.container{
    position: relative;
}
.what {
    position: absolute;
    top: 220px;
    left: 780px;
    margin-left: 280px;
    margin-top: 0px;
    margin-bottom: 150px;
    font-size: 20px;
    color: rgb(255, 225, 219);
}
.happycat{
    width: 300px;
    display: none;
    padding-right: 50px;
}
.lep {
    display: none;
}
body {
    font-family: 'swanky-and-moo-moo';
}
.yes_cont {
    margin-right: 400px;
    box-shadow: 0px 10px 14px rgb(229, 136, 136);
    padding-left: 20px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 180px;
    background-color: rgb(255, 159, 159);

}
.yes {
    margin-right: 20px;
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(235, 120, 120);
    border-radius: 10px;
    width: 200px;
    height: 140px;
    font-size: 40px;
    font-weight: 600;
    font-family:'swanky-and-moo-moo' ;

}
a{
 color:rgb(255, 235, 219);
}
.uslovie {
    bottom: 350px;
    position: absolute;
    color:rgb(255, 228, 219);
}
.no_cont {
    align-self: flex-end;
    box-shadow: 0px 10px 14px rgb(229, 136, 136);
    padding-left: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 30px;
    background-color: rgb(255, 159, 159);
}
#pistolet { display: none; }
.no {
    margin-right: 10px;
    margin-bottom: 2px;
    align-self: flex-end;
    border-radius: 5px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(255, 103, 103);
    font-size: 15px;
    font-family:'swanky-and-moo-moo' ;
}
.no:hover {
    background-color:rgb(255, 238, 237); ;
    box-shadow: 0 10px 14px rgb(234, 174, 174);;
     cursor: pointer;
    transition: 0.5s;
    color: rgb(255, 142, 142);;
   transform: translateY(-1px);
}
.no:active {
    background-color: rgb(255, 237, 237);
    transform: translateY(1px);
    }
.yes:hover {
    background-color:rgb(255, 238, 237); ;
    box-shadow: 0 10px 14px rgb(234, 174, 174);;
     cursor: pointer;
    transition: 0.5s;
    color: rgb(255, 142, 142);;
   transform: translateY(-1px);
}
.yes:active {
    background-color: rgb(255, 237, 237);
    transform: translateY(1px);
    }